.box-one-film{
  display: flex;
  color: white;
  margin: 20px;
  background-color: rgb(195, 193, 193, 0.2);
border: solid 1px transparent;
border-radius: 25px;
padding: 25px;
}

.box-descrip-film{
  margin-left: 20px;
}

.style-title{
  font-size: 30px;
font-weight: 800;
}

.style-tag{
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 800;
}

.style-rating{
  font-size: 20px;
  margin-bottom: 20px;
  color: gold;
}

.style-box-detail{
  font-size: 18px;
  margin-bottom: 20px;
}

.style-descrip{
  font-size: 20px;
  margin-right: 40%;
}