.box-about-person{
    display: flex;
    color: white;
    margin: 20px;
    background-color: rgb(195, 193, 193, 0.2);
border: solid 1px transparent;
border-radius: 25px;
}

.photo-actor{
margin: 15px;
}

.descrip-actor{
    margin: 15px;
    margin-top: 30px;
}

.name-actor{
    font-size: 30px;
    font-weight: 800;
    padding-bottom:20px ;
}

.birthday-actor{
    font-size: 18px;
    padding-bottom: 10px;
}

