.search-div{
margin: 2px;
}

.search-input{
margin-bottom: 2px;
border-radius: 10px;
height: 45px;
width: 350px;
background-color:transparent;
border: solid 3px rgba(160, 0, 80, 0.488);
color: white;
}